<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="node.js startup bootcamp" />
<meta name="keywords" content="node startup bootcamp" />
<title>Node.js Startup Bootcamp</title>

<!--favicon-->
<link rel="shortcut icon" href="images/favicon.ico">

<!--google web font-->
<link href='http://fonts.googleapis.com/css?family=Lobster+Two:700' rel='stylesheet' type='text/css'>

<!--stylesheets-->
<link rel="stylesheet" media="screen" href="css/reset.css"/>
<link rel="stylesheet" media="screen" href="css/style.css"/>
<link rel="stylesheet" media="screen"  href="css/nivo-slider.css"/>
<link rel="stylesheet" media="screen"  href="css/default/default.css"/>
<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

<!--jquery libraries others are at the bottom-->
<script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="js/modernizr.js" type="text/javascript"></script>
</head>
<body>

<!--wrappper starts-->
<div id="wrapper"> 
  
  <!--header_top starts-->
  <div id="header_top">
    <h1> <span>Node.js for Startups</span> Bootcamp</h1>
    <p class="date">NEXT STOP: <span>C&oacute;rdoba</span>, Viernes 20 de Septiembre, 2013</p>
    <div class="clear"></div>
  </div>
  <!--header_top ends--> 
  
  <!--header starts-->
  <div id="header"> 
    
    <!--text starts-->
    <div class="sub">
      Aparecen cosas nuevas todos los días, pero es dificil encontrar el tiempo para explorarlas todas. Que mejor que dedicar un día entero a meterte de lleno en el <a target="_blank" href="http://blog.mongodb.org/post/49262866911/the-mean-stack-mongodb-expressjs-angularjs-and">MEAN stack</a> de la mano de gente que lo está utilizando en producción? 
    </div>
    <!--text ends--> 
        
    <div class="clear"></div>
  </div>
  <!--header ends--> 
  
  <!--slideshow starts-->
  <div id="slideshow">
    <h3>Bootcamps anteriores</h3>
    
    <!--slider_bg starts-->
    <div class="slider-wrapper theme-default">
      <!--remember to specify height and width of slider images-->
      <div id="slider" class="nivoSlider"><img src="images/preview/1.jpg" width="740" height="416"><img src="images/preview/2.jpg" width="740" height="416"><img src="images/preview/3.jpg" width="740" height="416"><img src="images/preview/4.jpg" width="740" height="416"><img src="images/preview/5.jpg" width="740" height="416"><img src="images/preview/6.jpg" width="740" height="416"></div>
    </div>
    <!--slider_bg ends-->
    
    <div class="clear"></div>
  </div>
  <section id="quotes">
    <h3>quotes</h3>
    <div class="qq">
      <i class="icon-quote-left icon-2x pull-left icon-muted"></i>
      <div class="quote">Me pareció muy bueno el curso y muy recomendable para cualquier persona que quiera comenzara a ver de que se trata node y todo su entorno</div>
      <div class="author"><strong>Andres Lozada Mosto</strong></div>
    </div>
    <div class="qq">
      <i class="icon-quote-left icon-2x pull-left icon-muted"></i>
      <div class="quote">Con respecto al curso me parecio un excelente trabajo de los oradores, la parte de workshop es fundamental, uno no aprende hasta que no se pone a tocar un poco y entiende de que se trata...</div>
      <div class="author"><strong>Juan García estudiante en UTN</strong></div>
    </div>
    <div class="qq">
      <i class="icon-quote-left icon-2x pull-left icon-muted"></i>
      <div class="quote">Muy bueno el curso, me gusto la dinámica, el tener que hacer actividades cada 30 minutos como máximo te mantiene activo</div>
      <div class="author"><strong>Leandro Mettini desarrollador en MercadoLibre</strong></div>
    </div>
    <div class="qq">
      <i class="icon-quote-left icon-2x pull-left icon-muted"></i>
      <div class="quote">Muy bien organizado el #MeQuieroIrAlBootcamp: 8 horas tremendas que se me pasaron volando.</div>
      <div class="author"><strong>Diego Ramirez</strong></div>
    </div>
  </section>
  
  <!--slideshow ends--> 
  
  <!--speakers starts-->
  <div id="speakers">
    <h3>Instructores</h3>
    <p class="sub_heading"></p>
    
    <!--column_3 for first speaker starts-->
    <div class="column_2">
      <div class="speaker_bg"><img src="http://auth0.com/img/woloski.png" width="100" height="100" alt="speaker"></div>
      <h5>Matias Woloski</h5>
      <p class="info">Founder @ <a href="https://auth0.com">Auth0</a></p>
      <a href="https://twitter.com/woloski" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @woloski</a>
    </div>
    <!--first speaker ends--> 
    
    <!--column_3 for second speaker starts-->
    <div class="column_2">
      <div class="speaker_bg"><img src="http://auth0.com/img/proto.png" width="100" height="100" alt="speaker"></div>
      <h5>Jose Romaniello</h5>
      <p class="info">Developer @ <a href="https://auth0.com">Auth0</a></p>
            <a href="https://twitter.com/jfroma" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @jfroma</a>

    </div>
    <!--second speaker ends--> 
   
    <div class="clear"></div>
  </div>
  <!--speakers ends--> 
  <!--agenda starts-->
  <div id="agenda">
    <h3>Agenda</h3>
    <p>La modalidad es <span class="theory">te&oacute;rica</span>, <span class="practice">pr&aacute;ctica</span> y es necesario que traigas tu laptop con <a href="https://github.com/auth0/nodejs-bootcamp/blob/master/README.md#tools-youll-need" target="_blank">esto instalado</a>.</p>
    <table>
        <tbody>
          <tr>
            <td class="highlight">9:00hs</td>
            <td style="background-color: #eee">Desayuno y Bienvenida</td>
          </tr>
          <tr>
            <td class="highlight">9:30hs</td>
            <td class="theory">Node.js y Express</td>
          </tr>
          <tr>
            <td class="highlight">10:30hs</td>
            <td class="practice">Lab: Creando una app Node con Express</td>
          </tr>
          <tr>
            <td class="highlight">11:30hs</td>
            <td style="background-color: #eee">Break</td>
          </tr>
          <tr>
            <td class="highlight">11:45hs</td>
            <td class="theory">Guardando datos (DBs NoSQL)</td>
          </tr>
          <tr>
            <td class="highlight">12:15hs</td>
            <td class="practice">Lab: Utilizando MongoDB</td>
          </tr>
          <tr>
            <td class="highlight">13:00hs</td>
            <td style="background-color: #eee">Almuerzo</td>
          </tr>
          <tr>
            <td class="highlight">13:30hs</td>
            <td class="theory">Autenticaci&oacute;n en Cloud y Mobile con Individuos y Empresas</td>
          </tr>
          <tr>
            <td class="highlight">14:30hs</td>
            <td class="practice">Lab: Autenticando con Social Providers, User/Passwords y Enterprise</td>
          </tr>
          <tr>
            <td class="highlight">15:30hs</td>
            <td style="background-color: #eee">Break</td>
          </tr>
          <tr>
            <td class="highlight">15:45hs</td>
            <td class="theory">Cloud Computing: IaaS, PaaS, Ventajas/Desventajas</td>
          </tr>
          <tr>
            <td class="highlight">16:15hs</td>
            <td class="practice">Lab: Deployando a un PaaS (Heroku o Windows Azure)</td>
          </tr>
          <tr>
            <td class="highlight">17:15hs</td>
            <td class="theory">GitHub Workflow: Code Review, Multiple Branches, Pull Requests</td>
          </tr>
          <tr>
            <td class="highlight">18:00hs</td>
            <td style="background-color: #eee">Fin de curso</td>
          </tr>
        </tbody>
      </table>

    <!--table 2 ends-->
    
    <div class="clear"></div>
  </div>
  <section id="sponsors">
    <h3>Organiza</h3>
    <ul>
      <li>
        <a href="https://auth0.com" target="_blank">
          <img src="/images/auth0.png" style="width: 80%;">
        </a>
      </li>
      <li>
        <a href="http://github.com" target="_blank">
          <img src="/images/github.png">
        </a>
      </li>
      <li>
        <a href="http://10gen.com" target="_blank">
          <img src="/images/10gen-logo.png">
        </a>
      </li>
      <li>
        <a href="http://strongloop.com" target="_blank">
          <img src="/images/strongloop.png">
        </a>
      </li>
    </ul>
  </section>
  <section class="section" id="place">
    <div class="wrap">
      <h3>Donde</h3>
      <p>Gran Hotel Dorá, Entre Rios 70, Córdoba</p>
      <iframe width="100%" height="380" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Entre+R%C3%ADos+70,+C%C3%B3rdoba,+Cordoba,+Argentina&amp;aq=0&amp;oq=entre+rios+70,&amp;sll=-31.423774,-64.122047&amp;sspn=0.011096,0.022337&amp;ie=UTF8&amp;hq=&amp;hnear=Entre+R%C3%ADos+70,+C%C3%B3rdoba,+Argentina&amp;t=m&amp;z=14&amp;iwloc=A&amp;ll=-31.418598,-64.183892&amp;output=embed"></iframe>
    </div>
  </section>
  <!--agenda ends--> 
  <section id="register">
    <h3>Registrate</h3>
    <div class="pricing">
      AR$ 150 *
      <div class="legend">* El costo original de este evento era de $700 por persona pero gracias al apoyo de nuestros sponsors se cubrió gran parte de los costos. Los cupos son <strong>limitados</strong>.</div>
    </div>
  
  <div id="wufoo-z7x4m1">
Registrate <a href="http://auth0.wufoo.com/forms/z7x4m1">aca</a>.
</div>
  </section>
  <!--footer starts-->
  <div id="footer">
    <p>© Copyright 2013 Auth0 <br/>
      All the logos shown here are the copyright of their respective owners.</p>
    <div class="clear"></div>
  </div>
  <!--footer ends-->
  
  <div class="clear"></div>
</div>
<!--wrappper ends--> 

<!--Attached jquery files here--> 
<script src="js/jquery.nivo.slider.pack.js" type="text/javascript"></script> 
<script src="js/custom.js" type="text/javascript"></script>
<script type="text/javascript">var z7x4m1;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'auth0', 
'formHash':'z7x4m1', 
'autoResize':true,
'height':'365',
'async':true,
'header':'show'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z7x4m1 = new WufooForm();z7x4m1.initialize(options);z7x4m1.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
  

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</body>
</html>